In [2]:
from datetime import timedelta
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import tensorflow as tf

In [20]:
df = pd.read_csv("data/GME-20190321-20210309-1min.csv", parse_dates=["date"])
df = df.drop("5. adjusted close",1, errors="ignore") # needed for daily data
df.columns = [x[-1] for x in df.columns.str.split()]
df

                      date    open    high     low   close  volume ticker
0      2019-03-21 07:11:00   10.50   10.50   10.50   10.50     500    GME
1      2019-03-21 07:13:00   10.50   10.50   10.50   10.50    3500    GME
2      2019-03-21 09:19:00   10.47   10.47   10.47   10.47    1020    GME
3      2019-03-21 09:20:00   10.48   10.48   10.48   10.48     175    GME
4      2019-03-21 09:21:00   10.47   10.47   10.47   10.47     400    GME
...                    ...     ...     ...     ...     ...     ...    ...
229152 2021-03-09 19:56:00  257.87  258.40  257.61  258.00    4958    GME
229153 2021-03-09 19:57:00  258.00  258.40  257.69  257.90    5527    GME
229154 2021-03-09 19:58:00  257.90  258.21  257.80  258.20    5245    GME
229155 2021-03-09 19:59:00  258.20  259.01  258.05  259.01   11899    GME
229156 2021-03-09 20:00:00  259.10  261.86  259.00  261.01   29053    GME

[229157 rows x 7 columns]

In [23]:
# features
_vars = np.array(["open","high","low","close","volume"])
_lag_vars = np.char.add("lag_", _vars)
df[_lag_vars] = df.groupby("ticker")[_vars].shift()
df[np.char.add("delta_perc_" ,_vars)] = (df[_vars] - df[_lag_vars].values) / df[_lag_vars].values * 100

# TODO train, val, test
df

,date,open,high,low,close,volume,ticker,lag_open,lag_high,lag_low,lag_close,lag_volume,delta_perc_open,delta_perc_high,delta_perc_low,delta_perc_close,delta_perc_volume
0,2019-03-21 07:11:00,10.50,10.50,10.50,10.50,500,GME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-03-21 07:13:00,10.50,10.50,10.50,10.50,3500,GME,10.50,10.50,10.50,10.50,500.0,0.000000,0.000000,0.000000,0.000000,600.000000
2,2019-03-21 09:19:00,10.47,10.47,10.47,10.47,1020,GME,10.50,10.50,10.50,10.50,3500.0,-0.285714,-0.285714,-0.285714,-0.285714,-70.857143
3,2019-03-21 09:20:00,10.48,10.48,10.48,10.48,175,GME,10.47,10.47,10.47,10.47,1020.0,0.095511,0.095511,0.095511,0.095511,-82.843137
4,2019-03-21 09:21:00,10.47,10.47,10.47,10.47,400,GME,10.48,10.48,10.48,10.48,175.0,-0.095420,-0.095420,-0.095420,-0.095420,128.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229152,2021-03-09 19:56:00,257.87,258.40,257.61,258.00,4958,GME,258.36,258.36,257.72,257.89,3573.0,-0.189658,0.015482,-0.042682,0.042654,38.762944
229153,2021-03-09 19:57:00,258.00,258.40,257.69,257.90,5527,GME,257.87,258.40,257.61,258.00,4958.0,0.050413,0.000000,0.031055,-0.038760,11.476402
229154,2021-03-09 19:58:00,257.90,258.21,257.80,258.20,5245,GME,258.00,258.40,257.69,257.90,5527.0,-0.038760,-0.073529,0.042687,0.116324,-5.102225
229155,2021-03-09 19:59:00,258.20,259.01,258.05,259.01,11899,GME,257.90,258.21,257.80,258.20,5245.0,0.116324,0.309825,0.096974,0.313710,126.863680
229156,2021-03-09 20:00:00,259.10,261.86,259.00,261.01,29053,GME,258.20,259.01,258.05,259.01,11899.0,0.348567,1.100344,0.368146,0.772171,144.163375